img {
    height: 200px;
    width: 200px;
}
body{
    background-color: gainsboro;
}
header {
    padding: 0 25px ;
}

.container {
   background-color: gray;
   padding: 25px;
}


@media screen and (max-width: 1333px){
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
   }

   @media screen and (max-width: 1050px){
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
   }   

@media screen and (max-width: 900px){
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
   }

@media screen and (max-width: 768px) {
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
}

@media screen and (max-width: 640px) {
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
      
}

@media screen and (max-width: 500px) {
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
      
}

@media screen and (max-width: 340px) {
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }